*{
    margin: 0;
    padding: 0; 
}
header{
    
    height: 60px;
    display : flex;
    align-items : center;
    justify-content: end;
}

#propiedades-header{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    gap: 20px;

}

body{
    background-image: url(bogota.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


main{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#logo{

    height: 200px;
    width: 400px;
}
 #busqueda{
    width: 350px;
    height: 30px;
    border-radius: 30px;
    padding-left: 20px;
    
 }
#boton{
    border-radius: 6px;
    color: red;
}


a{
    text-decoration: none;
    color: black;
}
 footer{
    flex-direction: column;
    display: flex;
    justify-content: end;
    
    
 }
 #footerlink{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: left;
    list-style: none;
    
 }