* {
  margin: 0;
  padding: 0;
}
body {
  background-color: blue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* --------------------------------------------------------------------- */
header {
  background-color: #004a5a;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#items-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  list-style: none;
  gap: 15px;
}

main {
  background-color: greenyellow;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#principal-logo {
  height: 10px;
  width: 100px;
}

#search-input {
  width: 350px;
  height: 25px;
  border-radius: 25px;
  padding-left: 15px;
  box-shadow: 10px 9px 43px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 9px 43px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 9px 43px 4px rgba(0, 0, 0, 0.75);
}
#principal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#botonera {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

a {
  text-decoration: none;
  color: white;
}
#clickAqui {
  display: flex;
  gap: 5px;
}

footer {
  background-color: black;
  height: 20%;
}
